* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #111;
    line-height: 1.6;
  }

  .container{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left:  100px;
    padding-right:  100px;
    align-items: center;
    gap: 40px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  
  
  /* hero-section */
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }
  
  .hero-text {
    max-width: 600px;
    gap: 35px;
  }
  
  .book-button {
    margin-top: 20px;
    background: #000;
    color:#fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
  }
  
  /* logos-section*/
  .logos-section{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .Logos {
    display: flex;
    justify-content:space-between;
    gap: 35px;
    align-items: center;
  }
  
  /* Services */
  .Services {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px;
  }
  .services-title{
    background-color: #b6ff9b;
    border-radius: 6px;
  }
  /*Cards*/
  .cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
    padding-right: 100px;
    padding-left: 220px;
    margin-bottom: 30px;
    justify-content: center;
    row-gap: 40px;
  }
  
  /*search-engine-optimaization-card*/
  .Search-engine-optimization-card{
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 45px;
    border: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px black;
    width: 450px;
  }
  .search-engine-optimization-details{
   gap: 93px;
  }
  .search-engine-optimization-text{
    background-color: #b6ff9b;
    border-radius: 12px;
  }
  .learn-more{
    margin-bottom: 90px;
  }
  /*social-media-marketing-card*/
  .social-media-marketing-card{
    background-color: #000;
    padding: 20px;
    border-radius: 45px;
    border: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px black;
    width: 450px;
    color: #fff;
  }
  .social-media-marketing-text{
    background-color: #fff;
    border-radius: 12px;
    color: #000;
  }
  /*contant-creation-card*/
  .contant-creation-card{
    background-color: #b6ff9b;
    padding: 20px;
    border-radius: 45px;
    border: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px black;
    width: 450px;
  }
  .contant-creation-text{
    background-color: #fff;
    border-radius: 12px;
  }
  /*advertising-card*/
  .advertising-card{
    background-color: #b6ff9b;
    padding: 20px;
    border-radius: 45px;
    border: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px black;
    width: 450px;
  }
  .advertising-text{
    background-color: #fff;
    border-radius: 12px;
  }
  /*email-marketing-card*/
  .email-marketing-card{
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 45px;
    border: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px black;
    width: 450px;
  }

  .email-marketing-text{
    background-color: #b6ff9b;
    border-radius: 12px;
  }
  /*analytics card*/
  .analytics-card{
    background-color: #000;
    padding: 20px;
    border-radius: 45px;
    border: 1px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px black;
    width: 450px;
    color: #fff;
  }
  .analytics-card-text{
    background-color: #fff;
    border-radius: 12px;
    color: #000;
  }
  /*contact us section*/
  .contact-us{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px;
        background-color: #f3f3f3;
        width: 1300px;
        border-radius: 30px;
        margin: auto;
      }
      
      .contact-us-text {
        max-width: 600px;
        gap: 35px;
      }
      
      .contact-us-button {
        margin-top: 20px;
        background: #000;
        color:#fff;
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
      }
      /*Case Studies section*/
      .Case-Studies{
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 40px;
        padding-right: 50px;
      }
      .Case-Studies-title{
        background-color: #b6ff9b;
        border-radius: 6px;
      }
      /*Case-Studies-card*/
      .Case-Studies-card{
        display: flex;
        align-items: stretch;
        justify-content: center;
        background-color: #000;
        border-radius: 30px;
        padding: 40px 30px;
        color: #fff;
        gap: 30px;
        width: 1400px;
        margin: auto;
      }
      .learn-more-case-studies{
        color: #b6ff9b;
        padding: 20px;
      }
      .divider{
        background-color: #fff;
        width: 1px;
        opacity: 0.6;
        height: auto;
      }
      .footer{
        background-color: #000;
        color: #fff;
        padding-top: 60px;
        margin-top: 60px;
        padding: 50px;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
      }
      .footer-container{
        background-color: #000;
        color: #fff;
        padding: 50px;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        gap: 20px;   
        width: 1000px;   
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        color: #fff;
      }
      .footer-nav {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        color: #fff;

      }      
      
      .contact{
        display: flex;
        margin-bottom: 50px;
      }
      .contact-text{
        background-color: #b6ff9b;
        width: 100px;
        color: #000;
        margin-bottom: 20px;
      }
      .contact-us-form{
        background-color: #333;
        padding: 50px;
        border-radius: 12px;
        display: flex;
        gap: 10px;
        width: 450px;
        margin: auto;
      }
      .email-box{
        background-color: #333;
        border-radius: 5px;
        color: #fff;
        border-color: #fff;
      }
      .Subscribe-to-news-button{
        background-color: #b6ff9b;
        border-radius: 12px;
        padding: 15px;
      }
        .hr{
            height: 1px;
            background-color: #fff;
            margin: 50px 0;
        }
        .footer-bottom{
            margin-top: 50px;
            display: flex;
            gap: 50px;
        }
      .Privacy-Policy{
        color: #fff;
      }